
*{
  margin: 0;
  border:0;
  box-sizing: border-box;
}

$body-color: white;
$primary-color: #FFCC29;
$gradientYellow: linear-gradient(90deg, rgba(255,204,41,1) 0%, rgba(198,159,32,1) 35%, rgba(177,142,29,1) 100%);

body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


#body{
  background-image: url("./images/groot_original.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

//__________________header
.navbar{
  background-color: $primary-color;
  background: $gradientYellow;
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  &__bloc--title
  {
    padding-left: 5rem;
    padding-top: 2rem;
  }
  &__bloc__icon
  {
    padding-right: 1rem;
    color: white;
    .icon__home
    {
      width: 10rem;
    }
  }
  &__bloc--item
      {
        display:none;
        flex-direction:row;
        justify-content: space-around;
        padding-right: 1rem;
      }
  &__bloc--home
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding-right: 5rem;
    padding-top: 2rem;
  }
  }
//________________________________footer_____________________________

footer
{
  background-color: $primary-color;
  background: $gradientYellow;
  height: 5rem;
  width: 100%;
  
}

//_____________________________________home____________________________

.picture__home
{
 
 height: 45rem;
 position: relative;
 z-index:0;
 &__bloc
 {
   
   display: flex;
   flex-direction: column;
   padding-top: 20rem;
 }

 &__input
 {
   font-size: 1.5rem;
   color: grey;
   margin: auto;
   border-radius: 0.5rem;
   border: none;
   width: 15rem;
   height: 2rem;
   padding-left: 2rem;
   margin-bottom: 2rem;
 }
 &__password
 {
   width: 15rem;
   height: 2rem;
   margin: auto;
   display: flex;
   flex-direction: row;
   background-color: white;
   border-radius:0.5rem;
   margin-bottom: 2rem;
 }
 &__input__password
 {
  font-size: 1.5rem;
  color: grey;
  margin: auto;
  width: 11rem;
  height: 2rem;
  padding-left: 1rem;
  
 }
 &__button
 {
   border: none;
   border-radius: 1rem;
   background-color: $primary-color;
   background: $gradientYellow;
   height: 2rem;
   width: 10rem;
   margin: auto;
   font-size: 1.5rem;
   color: white;
 }
 &__register
{
  text-decoration: underline;
  color: #b28f1e;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
  padding-top: 1rem;
  margin: auto;
}
}

.icon
{
  &__password
  {
    font-size: 1.5rem;
    color: grey;
    margin: auto;
  }
}
//________________________menu___________________
.menu{
  
  font-family:Arial, Helvetica, sans-serif;
  height: 40rem;
  width: 15rem;
  position: absolute;
  margin-top: 7rem;
  backdrop-filter: blur(20px);
  top: 0;
  right:0;
  display: none;
  z-index: 30;
  &__filter
  {
    background-color: white;
    opacity: 50%;
    height: 40rem;
    width: 100%;
    backdrop-filter: blur(20px);
    top: 0;
    right:0;
  }
&__myPhoto
  {
    width: 10rem;
    margin-top: 2rem;
    padding-left: 5rem;
    border-radius: 10rem;
  }
&__user
{
  padding-left: 3.5rem;
  font-size: 1.5rem;
}
&__profil
  {
    position: absolute;
    z-index: 30;
    border-radius: 1rem;
    background-color: $primary-color;
    background: $gradientYellow;
    color: white;
    font-size: 1.5rem;
    border: 1px solid $primary-color;
    height: 2rem;
    width: 10rem;
    text-align:center;
    position: center;
    margin-top: 5rem;
    &__bloc
    {
      position:relative;
      height: 2rem;
      width: 10rem;
      margin:auto;
      margin-top: 1rem;
    }
  }
&__link__bloc
{
  margin-top: 8rem;
  
}
&__link
{
  &__letters
  {
    margin-top: 7rem;
  }
  &__letter
  {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    text-decoration: none;
    &--a{
      padding-bottom: 3rem;
    }
    &--b{
      padding-bottom: 2.7rem;
    }
    &--c{
      padding-bottom: 3rem;
    }
  }
}

ul{
list-style-type: none;
  
};
}
.leaflet-container { 
  width: 100%; 
  height: 100vh;
  z-index: 1;
}
/* MARKER CLUSTERS */
 .custom-marker-cluster-single {
   background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
 }
 .custom-marker-cluster-single div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }

 .custom-marker-cluster-small {
     background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
}
 .custom-marker-cluster-small div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }

 .custom-marker-cluster-medium {
   background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
 }
 .custom-marker-cluster-medium div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }

 .custom-marker-cluster-large {
   background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
 }
 .custom-marker-cluster-large div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }


//===========================================================================
//====================== REGISTER ========================

.register_field_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .register_field_picture{
    width: 150px;
    border: solid 3px rgb(209, 209, 209);
    display: flex;
    border-radius: 50%;
    margin-bottom: 45px;

    img{
      border-radius: 50%;
      background-color: rgb(209, 209, 209);
      margin: 5px;      
    }
  }
}

.register_field_form {

  width: 275px;

  label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    display: none;
  }

  input {
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 20px;
    margin-bottom: 35px;
    padding-left: 10px;
    outline-style: none;
    cursor: pointer;
  }
  .register_field_button{
    display: flex;
    justify-content: center;

      input{
        border-radius: 25px;
        color: white;
        width: 75%;
        background: linear-gradient(90deg, rgba(255,204,41,1) 0%, rgba(198,159,32,1) 35%, rgba(177,142,29,1) 100%);
        text-transform: uppercase;
        font-size: larger;
        font-weight: 700;
        }

      :hover{
        background: linear-gradient(90deg,  rgba(177,142,29,1)0%, rgba(198,159,32,1) 35%, rgba(255,204,41,1) 100%);
        cursor:pointer;
      }
  // .btn{
  //   border-radius: 15px;
  //   font-size: larger;
  //   text-align: center;
  //   padding: 10px;
  //   padding-left: 15px;
  //   padding-right: 15px;
  //   color: white;
  //   background-color: #B08D00;
  //   border: solid black 1px;
  // }
  }
}

//============================================================================
//================= LeadBoard =============================

.leaderBoard-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderBoard-box {
  width: 300px;
  height: 600px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow:  0px 0px 25px grey;
}

table {
  width: 250px;
  height: 500px;
  background-color: #f1f1f1;
  border-collapse: collapse;
}

.leaderBoard-title {
  color: #008869;
  font-size: 24px;
}

.leaderBoard-subtitle {
  color: #08bd9c;
  font-weight: bold;
}

tr {
  text-align: center;
}

.leaderBoard-rows {
  text-align: center;
  border-bottom: 1px solid #333;
  color:#008869;
}