
*{
  margin: 0;
  border:0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#bodyBackground{
  height: 100%;
}
$body-color: white;
$primary-color: #FFCC29;
$gradientYellow: linear-gradient(90deg, rgba(255,204,41,1) 0%, rgba(198,159,32,1) 35%, rgba(177,142,29,1) 100%);

body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


#body{
  background-image: url("./images/groot_original.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
}

//__________________header______________

.navbar{
  background-color: $primary-color;
  background: $gradientYellow;
  color: white;
  font-size: 2.5rem;
  width: 100%;
  // height: 7rem;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;

  &__bloc--title
  {
    padding-left: 5rem;
    display: flex;
    align-items: center;
  }
  &__bloc__icon
  {
    padding-right: 1rem;
    color: white;
    // .icon__home
    // {
      // width: 10rem;
    // }
  }
  &__bloc--item
      {
        display:none;
        flex-direction:row;
        justify-content: space-around;
        padding-right: 1rem;
      }
  &__bloc--home
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    // padding-right: 5rem;
    z-index: 555;
    position: relative;
  }
  }
//________________________________footer_____________________________

footer
{
  background-color: $primary-color;
  background: $gradientYellow;
  height: 5rem;
  width: 100%;
  
}

//_____________________________________home____________________________

.picture__home
{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 //  height: 45rem;
  height: 100%;
  position: relative;
  top: 20%;

 &__bloc
 {
   
   display: flex;
   flex-direction: column;
  //  padding-top: 20rem;
 }

 &__input
 {
   font-size: 1.5rem;
   color: grey;
   margin: auto;
   border-radius: 0.5rem;
   border: none;
   width: 15rem;
   height: 2rem;
   padding-left: 2rem;
   margin-bottom: 2rem;

 }
 &__password
 {
   width: 15rem;
   height: 2rem;
   margin: auto;
   display: flex;
   flex-direction: row;
   background-color: white;
   border-radius:0.5rem;
   margin-bottom: 2rem;
 }
 &__input__password
 {
  font-size: 1.5rem;
  color: grey;
  // margin: auto;
  width: 11rem;
  height: 2rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  
 }
 &__button
 {
   border: none;
   border-radius: 1rem;
   background-color: $primary-color;
   background: $gradientYellow;
   height: 2.5rem;
   width: 10rem;
   margin: auto;
   font-size: 1.5rem;
   color: white;
   outline: none;
   text-decoration: none;  
 }
 &__register
{
  text-decoration: underline;
  // color: #b28f1e;
  color: whitesmoke;
  font-size: 1.2rem;
  // font-weight: bold;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
  padding-top: 1rem;
  margin: auto;
}
}

.icon
{
  &__password
  {
    font-size: 1.5rem;
    color: grey;
    margin: auto;
  }
}
//____________________input_______________
input[type=text]:focus {
  outline: none;
}
input[type=password]:focus {
  outline: none;
}

//________________________menu___________________
.menu{
  
  height: 80%;
  width: 25%;
  min-width: 15rem;
  position: absolute;
  padding-top: 5rem;
  backdrop-filter: blur(10px);
  top: 20%;
  right:0;
  display: none;
  // z-index: 30;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  &__filter
  {
    background: rgba(255, 255, 255, 0.4);
    // opacity: 50%;
    height: 100%;
    width: 100%;
    // backdrop-filter: blur(20px);
    position: absolute;
    z-index: 550;
    top: 0;
    right:0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  &__photo
  {
    // margin-top: 2rem;
    // padding-left: 5rem;
    // display: flex;
    // justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
&__myPhoto
  {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: .5rem;
  }
&__user
{
  // padding-left: 3.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
&__profil
  {
    // position: absolute;
    // z-index: 30;
    border-radius: 1rem;
    background-color: $primary-color;
    background: $gradientYellow;
    color: white;
    font-size: 1.5rem;
    // border: 1px solid $primary-color;
    border: none;
    height: 2.5rem;
    width: 10rem;
    text-align: center;
    position: center;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    &__bloc
    {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 2rem;
      width: 10rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
// &__link__bloc
// {
//   margin-top: 8rem;
  
// }
&__link
{
  &__letters
  {
    margin-top: .8rem;
    width: 100%;
  }
  &__letter
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    height: 2rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    outline: none;
    text-decoration: none;
  }
}

ul{
list-style-type: none;
margin-left: -3rem;
};
}
.leaflet-container { 
  // width: 100%; 
  // height: 100vh;
  // z-index: 1;
  position: relative;
}
/* MARKER CLUSTERS */
 .custom-marker-cluster-single {
   background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
 }
 .custom-marker-cluster-single div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }

 .custom-marker-cluster-small {
     background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
}
 .custom-marker-cluster-small div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }

 .custom-marker-cluster-medium {
   background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
 }
 .custom-marker-cluster-medium div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }

 .custom-marker-cluster-large {
   background-color: var(--custom-cluster-bg-1, rgba(25, 25, 112, 0.6));
 }
 .custom-marker-cluster-large div {
   background-color: var(--custom-cluster-bg-2, rgba(18, 18, 83, 0.6));
 }


//===========================================================================
//====================== REGISTER ========================

.register_field_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .register_field_picture{
    width: 150px;
    border: solid 3px rgb(209, 209, 209);
    display: flex;
    border-radius: 50%;
    margin-bottom: 45px;

    img{
      border-radius: 50%;
      background-color: rgb(209, 209, 209);
      margin: 5px;      
    }
  }
}

.register_field_form {

  width: 275px;

  label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    display: none;
  }

  input {
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 20px;
    margin-bottom: 35px;
    padding-left: 10px;
    outline-style: none;
    cursor: pointer; 
    transition: all 0.5s ease-out;
  }

  input:hover {
    border: 3px solid rgb(148, 148, 148);
  }

  .register_field_button{
    display: flex;
    justify-content: center;

      input{
        border-radius: 25px;
        color: white;
        width: 75%;
        background: linear-gradient(90deg, rgba(255,204,41,1) 0%, rgba(198,159,32,1) 35%, rgba(177,142,29,1) 100%);
        text-transform: uppercase;
        font-size: larger;
        font-weight: 700;
        }

      :hover{
        background: linear-gradient(90deg,  rgba(177,142,29,1)0%, rgba(198,159,32,1) 35%, rgba(255,204,41,1) 100%);
        cursor:pointer;
      }
  // .btn{
  //   border-radius: 15px;
  //   font-size: larger;
  //   text-align: center;
  //   padding: 10px;
  //   padding-left: 15px;
  //   padding-right: 15px;
  //   color: white;
  //   background-color: #B08D00;
  //   border: solid black 1px;
  // }
  }
}

//============================================================================
//================= LeadBoard =============================

.leaderBoard-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderBoard-box {
  width: 300px;
  height: 600px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow:  0px 0px 25px grey;
}

table {
  width: 250px;
  height: 500px;
  background-color: #f1f1f1;
  border-collapse: collapse;
}

.leaderBoard-title {
  color: #008869;
  font-size: 24px;
}

.leaderBoard-subtitle {
  color: #08bd9c;
  font-weight: bold;
}

tr {
  text-align: center;
}

.leaderBoard-rows {
  text-align: center;
  border-bottom: 1px solid #333;
  color:#008869;
}