* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("./images/groot_original.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.navbar {
  background-color: #FFCC29;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc29), color-stop(35%, #c69f20), to(#b18e1d));
  background: linear-gradient(90deg, #ffcc29 0%, #c69f20 35%, #b18e1d 100%);
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__bloc--title {
  padding-left: 5rem;
}
.navbar__bloc--item {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 1rem;
}
.navbar__bloc--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  padding-right: 5rem;
}

footer {
  background-color: #FFCC29;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc29), color-stop(35%, #c69f20), to(#b18e1d));
  background: linear-gradient(90deg, #ffcc29 0%, #c69f20 35%, #b18e1d 100%);
  height: 5rem;
  width: 100%;
}

.picture__home {
  height: 45rem;
  position: relative;
}
.picture__home__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20rem;
}
.picture__home__input {
  font-size: 1.5rem;
  color: grey;
  margin: auto;
  border-radius: 0.5rem;
  border: none;
  width: 15rem;
  height: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}
.picture__home__password {
  width: 15rem;
  height: 2rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.picture__home__input__password {
  font-size: 1.5rem;
  color: grey;
  margin: auto;
  width: 11rem;
  height: 2rem;
  padding-left: 1rem;
}
.picture__home__button {
  border: none;
  border-radius: 1rem;
  background-color: #FFCC29;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc29), color-stop(35%, #c69f20), to(#b18e1d));
  background: linear-gradient(90deg, #ffcc29 0%, #c69f20 35%, #b18e1d 100%);
  height: 2rem;
  width: 10rem;
  margin: auto;
  font-size: 1.5rem;
  color: white;
}
.picture__home__register {
  text-decoration: underline;
  color: #b28f1e;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding-top: 1rem;
  margin: auto;
}

.icon__password {
  font-size: 1.5rem;
  color: grey;
  margin: auto;
}

.menu {
  height: 40rem;
  width: 15rem;
  position: absolute;
  padding-top: 5rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  top: 0;
  right: 0;
  display: block;
}
.menu__filter {
  background-color: white;
  opacity: 50%;
  height: 40rem;
  width: 15rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
}
.menu__myPhoto {
  width: 10rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
/*# sourceMappingURL=style.css.map */